<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Water Cooler">
        <title>Water Cooler Forum</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
	
		<nav>
			<a href="{{ url_for('index') }}"> Home</a> ||
			<a href="{{url_for('get_posts') }}"> The Cooler</a> ||
			<a href="{{ url_for('new_post') }}"> Add Water</a>
		</nav>

        <h1>Welcome {{user.name}} to the Cooler!</h1>
		
		<nav> <a href="/posts"> Cooler </a> </nav>


    </body>
</html>
