<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UNCC Notes App">
    <title>UNCC Notes App - View your Note</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<h1>Welcome {{user}} to the Cooler!</h1>

<h1>Note details</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Cheers</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>{{ note.title }}</td>
        <td>{{ note.text }}</td>
        <td>{{ note.score }}</td>
        <td>{{ note.date }}</td>
    </tr>
    <tr>
        <td>
            <form action="{{ url_for('like_note', note_id=note.id) }}" method="post">
                <input type="submit" value="Cheer">
            </form>
            <a href="{{ url_for('new_report', note_id=note.id) }}">
                <input type="submit" value="Report">
            </a>
        </td>
    </tr>
    <nav>
        <a href="{{ url_for('index') }}"> Home</a> ||
        <a href="{{ url_for('get_notes') }}">Messages</a> ||
        <a href="{{ url_for('new_note') }}">Add Message</a> ||
        <a href="{{ url_for('get_peers') }}"> Peers</a> ||
        <a href="{{ url_for('logout')}}">Logout</a>
    </nav>
</table>

{% if note.comments %}
{% if note.comments|length > 0 %}
<h2>Comments</h2>
<ul>
    {% for comment in note.comments %}
    <li>{{ comment.content }} Cheers: {{ comment.score }}
        <form action="{{ url_for('like_comment', note_id=note.id, comment_id=comment.id) }}" method="post">
            <input type="submit" value="Cheer">
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endif %}
<form action="{{ url_for('new_comment', note_id=note.id) }}" method="post">
    <div class="formwrapper">
        <h2 class="title">Add a comment</h2>
        <div class="form-field">
            {{ form.comment.label }} <br/> {{ form.comment }}
        </div>
        {{ form.submit }}
    </div>
</form>

</body>
</html>
